.App {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-family: "Rubik", sans-serif;
	color: grey;
	background: linear-gradient(
		120deg,
		rgba(170, 230, 250, 1) 0%,
		rgba(170, 230, 250, 1) 50%,
		rgba(230, 100, 19, 1) 50%,
		rgba(230, 100, 19, 1) 100%
	);
}
